@model Cashback.Shared.PagedList<Cashback.Shared.OrderViewModel>
@{
    ViewData["Title"] = "Order Details";
}

<div class="text-center">
    <h1 class="display-4">Orders</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id.</th>
                <th>Order date</th>
                <th>Customer</th>
                <th>Quantity</th>
                <th>Total price</th>
                <th>Total cashback</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td><a asp-action="Details" asp-controller="Order" asp-route-orderid="@item.Id">View</a></td>
                    <td>@item.CreateDate</td>
                    <td>@item.Customer</td>
                    <td>@item.TotalQuantity</td>
                    <td>@item.TotalPrice.ToString("c2")</td>

                    <td>@item.TotalCashback.ToString("c2")</td>
                </tr>
            }

        </tbody>
    </table>
</div>


@section scripts{
    <script>

    </script>
}